@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Outfit:wght@400;700&family=Overpass:ital,wght@0,400;1,700&family=Roboto:wght@500&display=swap');
    :root{
        --Orange:hsl(25, 97%, 53%);
        --White:hsl(0, 0%, 100%);
        --Light-grey: hsl(217, 12%, 63%);
        --Medium-grey: hsl(216, 12%, 54%);
        --Dark-blue: hsl(213, 19%, 18%);
        --Very-dark-blue: hsl(216, 12%, 8%);
        --Font-size: 15px;
    }

    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
    }

    body{
        font-family: 'Outfit', sans-serif;
        height: calc(100vh - 1px);
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 1.25rem;
    }    

    .container{
      width:40%;
      height: auto;
      background-color: var(--Dark-blue);  
      color: white;
      margin-bottom: 1.5rem;
      padding: 1.25rem;
      border-radius: 0.625rem;
    }
    ul  {
        display: flex;
        justify-content: space-around;
    }
    ul li button{
        padding: 0.65rem;
        border-radius: 50%;
       border:none;
       margin:0.55rem ;
    }
    ul li{
        text-decoration: none;
    }

p{
    color:var(--Light-grey);
}
    
.submit{
    width:95%;
    text-align: center;
    background-color:var(--White);
    color:var(--Orange);
    border-radius: 30px;
    border: none;
    padding: 0.65rem;

}

    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
